Package: xyz.burritoz.thomz.folded
Name: Folded
Depends: mobilesubstrate, prefernceloader
Version: 0.5
Architecture: iphoneos-arm
Description: Folders, your way
Maintainer: Thomz and burrit0z
Author: Thomz and burrit0z
Section: Tweaks
