<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
    <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Please see FAQ page for more info</string>
		</dict>
		<dict>
      <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customFolderIconEnabled</string>
			<key>label</key>
			<string>Custom Folder Grid</string>
    	</dict>
    	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>footerText</key>
			<string>Rows and Columns</string>
			<key>key</key>
			<string>rowsAndColumnsGroupCellIcon</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>key</key>
            <string>folderIconRows</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>key</key>
            <string>folderIconColumns</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
		</dict>
    <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
    <dict>
      <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>resizeFolderIconEnabled</string>
			<key>label</key>
			<string>Resize Folder Icon</string>
    </dict>
    <dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.01</real>
			<key>max</key>
			<real>5</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>resizeFactor</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: The options above will only work on iOS 13</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>twoByTwoIconEnabled</string>
			<key>label</key>
			<string>2x2 Icon</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
        <dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>hideFolderGridEnabled</string>
			<key>label</key>
			<string>Hide Folder Grid</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>hideFolderIconBackground</string>
			<key>label</key>
			<string>Hide Folder Icon Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>colorFolderIconBackground</string>
			<key>label</key>
			<string>Color Icon Blur (Background)</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>folderIconColor</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Folded.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Color</string> 
		</dict>
    </array>
	<key>title</key>
	<string>Icon</string>
</dict>
</plist>
