<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>iOS 13 only</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customFolderIconEnabled</string>
			<key>label</key>
			<string>Custom Folder Grid</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>cellClass</key>
            <string>Thomz_LabeledSegmentCell</string>
            <key>label</key>
            <string>Rows</string>
            <key>key</key>
            <string>folderIconRows</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
        <dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>cellClass</key>
            <string>Thomz_LabeledSegmentCell</string>
            <key>label</key>
            <string>Columns</string>
            <key>key</key>
            <string>folderIconColumns</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>footerText</key>
			<string>iOS 12 only, Layout must be 2x2</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>twoByTwoIconEnabled</string>
			<key>label</key>
			<string>2x2 Icon</string>
        </dict>
</array>
	<key>title</key>
	<string>Icon</string>
</dict>
</plist>
