<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>showInjectionAlerts</string>
			<key>label</key>
			<string>Show Compatability Alerts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>backgroundAlphaEnabled</string>
			<key>label</key>
			<string>Background Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>backgroundAlpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>cornerRadiusEnabled</string>
			<key>label</key>
			<string>Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>130</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>cornerRadius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>pinchToCloseEnabled</string>
			<key>label</key>
			<string>Pinch to Close</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customFrameEnabled</string>
			<key>label</key>
			<string>Enable Custom Frame</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customCenteredFrameEnabled</string>
			<key>label</key>
			<string>Centered Frame</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Left</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameX</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Top</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameY</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Width</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameWidth</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Height</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameHeight</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
        <dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customLayoutEnabled</string>
			<key>label</key>
			<string>Enable Custom Layout</string>
			<key>sublabel</key>
			<string>Rows and Columns</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>key</key>
            <string>customLayoutRows</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>key</key>
            <string>customLayoutColumns</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring required</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customFolderIconEnabled</string>
			<key>label</key>
			<string>Custom Folder Grid</string>
			<key>sublabel</key>
			<string>iOS 13 only</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>key</key>
            <string>folderIconRows</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>3</string>
            <key>key</key>
            <string>folderIconColumns</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>twoByTwoIconEnabled</string>
			<key>label</key>
			<string>2x2 Icon</string>
			<key>sublabel</key>
			<string>iOS 12 only, Layout must be 2x2</string>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customBlurBackgroundEnabled</string>
			<key>label</key>
			<string>Custom Blur Background</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>2</string>
            <key>key</key>
            <string>customBlurBackground</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Light</string>
                <string>Dark</string>
            </array>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Title</string>
			<key>label</key>
			<string>Title Modification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Colors</string>
			<key>label</key>
			<string>Colors Modification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Miscellaneous</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>Thomz_TwitterCell</string>
			<key>user</key>
			<string>Thomz</string>
			<key>description</key>
			<string>Foldy Developer</string>
			<key>height</key>
			<integer>80</integer>
			<key>reddit</key>
			<string>false</string>
			<key>image</key>
			<string>thomz</string>
			<key>action</key>
			<string>linkTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>Thomz_TwitterCell</string>
			<key>user</key>
			<string>Burrit0z</string>
			<key>description</key>
			<string>Cartella Developer</string>
			<key>height</key>
			<integer>80</integer>
			<key>reddit</key>
			<string>true</string>
			<key>image</key>
			<string>burrit0z</string>
			<key>action</key>
			<string>linkReddit</string>
		</dict>
	</array>
	<key>title</key>
	<string>Folded</string>
</dict>
</plist>
