<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>backgroundAlphaEnabled</string>
			<key>label</key>
			<string>Background Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>backgroundAlpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>cornerRadiusEnabled</string>
			<key>label</key>
			<string>Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>130</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>cornerRadius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>pinchToCloseEnabled</string>
			<key>label</key>
			<string>Pinch to Close</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customFrameEnabled</string>
			<key>label</key>
			<string>Enable Custom Frame</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customCenteredFrameEnabled</string>
			<key>label</key>
			<string>Centered Frame</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Left</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameX</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Top</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameY</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Width</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameWidth</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Height</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameHeight</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
        <dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customLayoutEnabled</string>
			<key>label</key>
			<string>Enable Custom Layout</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>2</string>
            <key>key</key>
            <string>customLayoutRows</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>2</string>
            <key>key</key>
            <string>customLayoutColumns</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>hideTitleEnabled</string>
			<key>label</key>
			<string>Hide Title</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleFontSizeEnabled</string>
			<key>label</key>
			<string>Custom Title Font Size</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>99</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleFontSize</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleOffSetEnabled</string>
			<key>label</key>
			<string>Custom Title Offset</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>99</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleOffSet</string>
		</dict>
	</array>
	<key>title</key>
	<string>Folded</string>
</dict>
</plist>
