<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customFrameEnabled</string>
			<key>label</key>
			<string>Enable Custom Frame</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customCenteredFrameEnabled</string>
			<key>label</key>
			<string>Centered Frame</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Left</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameX</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Top</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameY</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Width</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameWidth</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Height</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customFrameHeight</string>
            <key>isNumeric</key>
            <true/>
        </dict>
	</array>
	<key>title</key>
	<string>Frame</string>
</dict>
</plist>
