<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>seizureModeEnabled</string>
			<key>label</key>
			<string>Seizure mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>backgroundAlphaEnabled</string>
			<key>label</key>
			<string>Background Alpha for Folder Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>backgroundAlpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>cornerRadiusEnabled</string>
			<key>label</key>
			<string>Corner Radius for Folder Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>130</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>cornerRadius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>pinchToCloseEnabled</string>
			<key>label</key>
			<string>Pinch to Close</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>tapToCloseEnabled</string>
			<key>label</key>
			<string>Tap Anywhere to Close</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>clearBackgroundIcons</string>
			<key>label</key>
			<string>Hide Dock and Pages in Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<label>Page Dots</label>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>hideDotsPref</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Off</string>
                <string>In Folders</string>
                <string>Everywhere</string>
            </array>
        </dict>
	</array>
	<key>title</key>
	<string>Miscellaneous</string>
</dict>
</plist>
