<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
			<key>label</key>
			<string>These presets may require some adjustment to look good on your device, depending on your screen size, display resolution, etc. These are meant to help you get started customizing on your own with Folded.</string>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSButtonCell</string>
			<key>action</key>
			<string>applyPreset:</string>
			<key>label</key>
			<string>Clean 3x5 Folders</string>
			<key>presetName</key>
			<string>clean35</string>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSButtonCell</string>
			<key>action</key>
			<string>applyPreset:</string>
			<key>label</key>
			<string>2x2 Icon, 4x4 insides</string>
			<key>presetName</key>
			<string>44setup</string>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>label</key>
			<string>Reset All Preferences</string>
		</dict>
	</array>
	<key>title</key>
	<string>Presets</string>
</dict>
</plist>
