<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>cellClass</key>
			<string>FoldedHeaderCell</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>showInjectionAlerts</string>
			<key>label</key>
			<string>Show Compatability Alerts</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Layout</string>
			<key>label</key>
			<string>Layout</string>
			<key>icon</key>
			<string>layout.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Frame</string>
			<key>label</key>
			<string>Frame</string>
			<key>icon</key>
			<string>frame.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Icon</string>
			<key>label</key>
			<string>Icon</string>
			<key>icon</key>
			<string>iconSection.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Appearance</string>
			<key>label</key>
			<string>Appearance</string>
			<key>icon</key>
			<string>appearance.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Title</string>
			<key>label</key>
			<string>Title</string>
			<key>icon</key>
			<string>title.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>Miscellaneous</string>
			<key>label</key>
			<string>Other</string>
			<key>icon</key>
			<string>miscellaneous.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPEPresetController</string>
			<key>label</key>
			<string>Presets</string>
			<key>icon</key>
			<string>presets.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OPESubPageController</string>
			<key>pageKey</key>
			<string>FAQ</string>
			<key>label</key>
			<string>FAQ</string>
			<key>icon</key>
			<string>FAQ.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>label</key>
			<string>Reset All Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>getThomzAniPhone</string>
			<key>action</key>
			<string>openThomzPayPal</string>
			<key>who</key>
			<string>Donate to Thomz!</string>
			<key>why</key>
			<string>Help him get an iPhone X</string>
			<key>height</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>getThomzAniPhone</string>
			<key>action</key>
			<string>openBurrit0zPayPal</string>
			<key>who</key>
			<string>Donate to Burrit0z!</string>
			<key>why</key>
			<string>Help him pay for tweaks</string>
			<key>height</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>Thomz_TwitterCell</string>
			<key>user</key>
			<string>Thomz</string>
			<key>description</key>
			<string>Foldy Developer</string>
			<key>height</key>
			<integer>70</integer>
			<key>reddit</key>
			<string>false</string>
			<key>image</key>
			<string>thomz</string>
			<key>action</key>
			<string>linkTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>Thomz_TwitterCell</string>
			<key>user</key>
			<string>Burrit0z</string>
			<key>description</key>
			<string>Cartella Developer</string>
			<key>height</key>
			<integer>70</integer>
			<key>reddit</key>
			<string>true</string>
			<key>image</key>
			<string>burrit0z</string>
			<key>action</key>
			<string>linkReddit</string>
		</dict>
	</array>
	<key>title</key>
	<string>Folded</string>
</dict>
</plist>
