<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>hideTitleEnabled</string>
			<key>label</key>
			<string>Hide Title</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleFontSizeEnabled</string>
			<key>label</key>
			<string>Custom Title Font Size</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>99</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleFontSize</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
			<key>label</key>
			<string>PLEASE SEE FAQ PAGE FOR MORE INFO!</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleFontEnabled</string>
			<key>label</key>
			<string>Custom Title Font</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>(System) Font Name</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>key</key>
            <string>customTitleFont</string>
            <key>isNumeric</key>
            <false/>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleOffSetEnabled</string>
			<key>label</key>
			<string>Custom Title Offset</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>700</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>customTitleOffSet</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
			<key>label</key>
			<string>Title Font Weight</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>titleFontWeight</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Normal</string>
                <string>Bold</string>
                <string>Extra Bold</string>
            </array>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
			<key>label</key>
			<string>Title Alignment</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>xyz.burritoz.thomz.folded.prefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>titleAlignment</string>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Left</string>
                <string>Center</string>
                <string>Right</string>
            </array>
        </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>titleColorEnabled</string>
			<key>label</key>
			<string>Custom Title Color</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>titleColor</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Folded.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Color</string> 
		</dict>
        <dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>titleBackgroundEnabled</string>
			<key>label</key>
			<string>Title Background</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>titleBackgroundColor</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Folded.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Background Color</string> 
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>60</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>xyz.burritoz.thomz.folded.prefs</string>
			<key>key</key>
			<string>titleBackgroundCornerRadius</string>
			<key>label</key>
			<string>Title Background Corner Radius</string>
			<key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>height</key>
			<integer>83</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Title</string>
</dict>
</plist>
